.error {
  background-color: #eab7b5;
  border-radius: 20px;
}

.error input,
.error textarea {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid red 2px;
}

.error_message_box {
  display: block;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: 500;
}

.error_message {
  display: block;
  width: 100%;
  background-color: #eab7b5;
  border-radius: 20px;
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
