.chat_box {
  color: #18191a;
  display: table;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.chat_header {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  display: table-row;
  border-radius: 20px 20px 0 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: whitesmoke;
}

.back_button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

.back_button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.back_button::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  left: 20%;
  top: 30%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.back_button::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  left: 20%;
  top: 63%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.friend_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  margin-left: 80px;
}

.friend_name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.chat_content {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  color: whitesmoke;
}

.my_message_box {
  background-color: transparent;
  text-align: right;
  margin: 10px;
  overflow-wrap: break-word;
}

.my_message {
  border-radius: 20px;
  padding: 10px;
  background-color: #007BFF;
  display: inline-block;
  max-width: 350px;
}

.friend_message_box {
  display: block;
  background-color: transparent;
  text-align: left;
  margin: 10px;
  overflow-wrap: break-word;
}

.friend_message {
  border-radius: 20px;
  padding: 10px;
  background-color: #6C757D;
  display: inline-block;
  max-width: 350px;
}

.chat_footer {
  height: 70px;
  display: table-row;
  border-radius: 0 0 20px 20px;
  background-color: rgba(50, 50, 50, 0.9);
}

.message_creator_box {
  padding: 10px;
}

.textarea {
  width: 100%;
  height: 54px;
  resize: none;
  background-color: whitesmoke;
  padding: 10px;
  padding-right: 0px;
  border-radius: 20px;
  text-align: left;
  border: solid transparent 2px;
  outline: none;
  font-size: 20px;
  color: #18191A;
  display: block;
}

.message_creator_tools {
  display: none;
  outline: none;
  height: 50px;
  margin-top: 10px;
}

.textarea_button {
  width: 100px;
  height: 50px;
  background-color: #007BFF;
  border-radius: 20px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
  color: whitesmoke;
  float: right;
  cursor: pointer;
}

/* .textarea_button:hover {
  background-color: rgba(50, 50, 50, 0.5);
} */

.message_creator_box:focus .textarea,
.message_creator_box:focus-within .textarea {
  height: 112px;
}

.message_creator_box:focus .message_creator_tools,
.message_creator_box:focus-within .message_creator_tools {
  display: block;
}

@media only screen and (max-width: 720px) {
}
