* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #18191A;
}

.app_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.app_wrapper_content {
    position: static;
    background-color: transparent;
    padding-top: 80px;
    padding-left: 310px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
}

.content_box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: #18191A;
}

@media only screen and (max-width: 720px) {
    .app_wrapper_content {
        padding-top: 10px;
        padding-left: 0px;
    }
}